* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e0e5ec;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  padding-top: 45px;
}

footer .nav {
  min-height: 2.5rem;
  overflow: hidden;
  background: rgba(26, 25, 25, 0.486);
  color: white;
}

footer a {
  color: white;
}

.nameFooter {
  letter-spacing: 3px;
  font-size: 10px;
}
.nameFooter-1 {
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: 600;
}

footer .name {
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 300;
}

.fruits {
  background-image: url('../fruits.svg'), url('../banana.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom right, center left;
  background-size: 95%, 200px;
}
.hero {
  padding-top: 100px;
  padding-left: 140px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 780px) {
  .fruits {
    height: 100vh;
    background-position: bottom right, bottom left;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.5);
    background-size: 100%, 100px;
  }

  .hero {
    padding-left: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
  }

  .hero .about {
    color: rgb(255, 255, 255);
  }

  .fruits .contenido-hero {
    position: relative;
    background-color: rgb(0 0 0 / 30%);
    width: 100%;
    height: 100%;
  }
}

.navName-1 {
  letter-spacing: 0px;
  font-size: 40px;
  font-weight: 600;
}
.navName {
  letter-spacing: 3px;
  font-size: 23px;
}
.name-1 {
  letter-spacing: 0px;
  font-size: 80px;
  font-weight: 600;
}
.name {
  letter-spacing: 3px;
  font-size: 35px;
  font-weight: 300;
}

.about {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #777777;
}

.desafio {
  border-top: 5px solid #e0ff00;
  background: #fff9;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  background: #e0e5ec;
}

.calorias-bg {
  color: rgb(94, 93, 93);
  display: inline;
  padding: 5px 5px;
  background-color: #b8ca2a;
  border-radius: 5px;
}

.cards {
  border-top: 4px solid #e0ff00;
  border-bottom: 4px solid #e0ff00;
}

.card-alt {
  border-bottom: 4px solid #e0ff00;
  border-top: 4px solid #e0ff00;
}

.desafio .titulo {
  color: #b8ca2a;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.card-title {
  color: #b8ca2a;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.image-styles {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.lista-conf {
  font-size: 12px;
}

.list-padding {
  padding-left: 0;
}

.lista-negritas {
  font-weight: 700;
}

.paragraph {
  font-size: 12px;
}

.message {
  text-decoration: underline;
  font-weight: 700;
  background-color: aqua;
  border-radius: 1rem;
}

.invalid {
  text-decoration: none;
}

.coder {
  color: #777777;
  font-size: 11px;
}

.underline {
  text-decoration: underline;
  font-weight: 700;
}

.input-manual {
  /* visibility: hidden; */
  display: none;

}

.input-active {
  display: inline;
}

#editar {
  cursor: pointer;
}
